body {
  background-color: #181a1b;
  color: #e8e6e3;
}

a {
  color: #e8e6e3;
}

header {
  padding: 8px;
  height: 40px;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
}

nav {
  display: flex;
  align-items: center;
}

.button {
  border: 1px solid #d8d4cf;
  border-radius: 4px;
  padding: 4px;
  background-color: #002a58;
}

.button:hover {
  background-color: #0b5bb0;
}

#output {
  height: 200px;
  background-color: #2b2a33;
  border: 1px solid #8f8f9d;
}

#lesson {
  width: 55%;
  padding: 16px 8px 0 8px;
}

.editor-group {
  width: 45%;
}

.ace_editor {
  min-height: 300px;
  margin: 0;
}

.terminal {
  margin-top: 16px;

  .ace_cursor {
    display: none !important;
  }
}
